@charset "utf-8"; 

@font-face {font-family:'NSQR'; src:url('../font/NanumSquareR.eot'); src:url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'), url('../font/NanumSquareR.woff') format('woff'),
	url('../font/NanumSquareR.otf') format('truetype'); src:local(※), url('../font/NanumSquareR.woff') format('woff'); }
	
*{margin:0; padding:0; }

/*Reset*/
h1, h2, h3, h4, h5, h6, h7{clear:both; font-weight:normal; }
/*article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section { display: block; }*/
textarea, select, input, td {font-family:'tahoma', 'NSQR', 'Dotum'; color:#222; }
table {border-collapse: collapse; border-spacing:0; }
td {word-break:break-all; }
img {vertical-align:middle; border:0}
ol, ul, li {list-style: none; }
fieldset{border:0; }
input[type="text"], input[type="password"]{height:24px; padding:0 5px; overflow:hidden; border:1px solid #bebebe;}
input[type=radio], input[type=checkbox] { vertical-align:middle; }
textarea {padding: 2px 5px 2px 5px; border: 1px solid #bebebe; font-size:12px; }
select {border: 1px solid #bebebe; font-size:12px; height:24px}
button {cursor:pointer; border:0 none; font-family:tahoma, NSQR; }
em, i, address{font-style:normal; }

.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide
{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {}
.slick-next.slick-arrow, .slick-prev.slick-arrow{display:none !important;}
.slick-dots{position:absolute;left:0;bottom:-20px;z-index:20;width:100%;height:auto;overflow:hidden;text-align:center;}
.slick-dots li{display:inline-block;text-indent:-2000px;border:0;width:12px;height:12px;margin:3px;background:#d8d8d8;border-radius:50%;overflow:hidden;cursor:pointer;}
.slick-dots .slick-active{background:#16ac99;}
.slick-initialized .slick-slide{outline:none;}

::-webkit-input-placeholder { color:#acb7c7; font-size:12px;} 

/*Common*/
a{color:#111; text-decoration:none; }
a:hover {opacity:0.8}
hr{border:0; border-bottom:1px dashed #b9b9b9; margin:8px 0 12px; }

.ac{text-align:center !important; }
.al{text-align:left !important; }
.ar{text-align:right !important; }
.fl{float: left !important; }
.fr{float: right !important; }
.hidden {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0; position:absolute; padding:0 !important; }

/*폰트컬러지정-색상별 규칙맞춰 추가*/
.fcrd{color:#ea484c !important; } /*Red*/
.fcbl{color:#3f74ba !important; } /*Blue*/

.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}

.mr5{margin-right:5px !important;}

