@charset "utf-8"; 

html{font-size:14px; font-family:'NSQR'; }
html, body{height:100%; min-height:100%; overflow-x:hidden; }
body{} 
 
.loginBox{min-width:1280px;width:100%;height:465px;overflow:hidden;position:absolute;left:0;top:50%;margin-top:-233px;background:url(../images/bg/bg_login.jpg) no-repeat center center;}
.loginBox .rela{width:1280px;height:auto;overflow:hidden;margin:0 auto;}
.loginBox .rela .loginForm{margin:120px 0 0 50px;width:535px;height:205px;overflow:hidden;position:relative;}
.loginBox .rela .loginForm h1{width:100%;height:auto;overflow:hidden;}
.loginBox .rela .loginForm .loginid{font-size:18px;padding:0 10px;width:337px;height:50px;overflow:hidden;border:0;background:#fff;position:absolute;left:0;top:70px;}
.loginBox .rela .loginForm .loginpw{font-size:18px;padding:0 10px;width:337px;height:50px;overflow:hidden;border:0;background:#fff;position:absolute;left:0;top:148px;}
.loginBox .rela .loginForm .btn01{font-size:20px;color:#fff;width:135px;height:130px;overflow:hidden;border:0;background:#2d82a2;position:absolute;right:10px;bottom:6px;}

.wrapper{width:100%;min-width:1280px;height:100%;position:absolute;left:0;top:0;overflow:hidden;overflow-x:auto;}
.wrapper .header{position:relative;z-index:2;width:100%;height:100px;float:left;background:#fff;box-shadow: 0px 0px 23px 6px #ccc;}
.header h1{float:left;}
.header h1 .etcLogo{margin:27px 38px;}
.header .gnb{float:left;}
.header .gnb li{float:left;}
.header .gnb li a{display:block;border-bottom:4px solid #fff;width:165px;height:96px;line-height:100px;text-align:center;overflow:hidden;position:relative;font-size:20px;color:#333;}
.header .gnb li a.on, .header .gnb li a:hover{border-bottom:4px solid #226985;}
.header .side{float:right;margin-right:50px;margin-top:30px;} 
.header .side .info{float:left;width:290px;height:33px;padding-top:5px;overflow:hidden;border-radius:19px;border:1px solid #e5e8ed;}
.header .side .info img{float:left;margin-left:5px;}
.header .side .info .t01{float:left;font-size:12px;color:#acb7c7;height:28px;line-height:28px;margin-left:5px;}
.header .side .info .t01 strong{font-size:12px;color:#000;}
.header .side .info .t02{float:left;font-size:12px;color:#acb7c7;height:28px;line-height:28px;margin-left:5px;} 
.header .side a{margin-left:10px;float:left;width:90px;height:38px;overflow:hidden;text-align:center;line-height:38px;font-size:12px;color:#fff;border-radius:19px;border:1px solid #e5e8ed;background:#53758b;}

.wrapper .lnbArea{position:relative;width:218px;height:calc( 100% - 100px );overflow:hidden;float:left;background-image: linear-gradient(#226582, #222355);}
.wrapper .lnbArea.on{display:none;}
.lnbList{width:200px;height:auto;overflow:hidden;margin:30px auto 0 auto;}
.lnbList li{width:100%;height:42px;overflow:hidden;margin-bottom:10px;}
.lnbList li a{width:calc( 100% - 30px );height:42px;font-size:15px;color:#fff;line-height:42px;padding-left:30px;overflow:hidden;display:block;}
.lnbList li a.on, .lnbList li a:hover{background:rgba(255,255,255,.3);border-radius:5px;}
.wrapper .lnbArea .lnbLogo{position:absolute;left:0;bottom:0;width:218px;}
.wrapper .container{width:calc( 100% - 278px );height:calc( 100% - 160px );padding:30px;overflow:hidden;overflow-y:auto;float:left;background:#eaedf1;position:relative;}
.wrapper .container.on{width:calc( 100% - 60px );}
.wrapper .container.mapType{position:relative;width:calc( 100%);height:100%;padding:0;}
.wrapper.on .container.mapType{height:100%;padding:0;width:calc( 100% - 70px );}

.location{width:100%;height:auto;overflow:hidden;}
.location li{float:left;padding:0 10px 0 15px;font-size:15px;color:#000;background:url(../images/bg/bg_arr01.png) no-repeat left center;}
.location li:first-child{background:none;padding-left:0;}

.searchBox{position:relative;margin-top:20px;padding:30px;width:calc( 100% - 62px );height:auto;overflow:hidden;border:1px solid #acb7c7;background:#fff;}
.searchBox .rows{width:100%;height:auto;overflow:hidden;float:left;}
.searchBox .rows.mt5{margin-top:5px;}
.searchBox .label{float:left;height:35px;line-height:35px;font-size:12px;color:#1d2229;}
.searchBox .inp{float:left;border:1px solid #e5e8ed;height:33px;width:120px;padding:0 10px;font-size:12px;color:#222;margin-left:5px;}
.searchBox .inp.long{width:248px;}
.searchBox .etxt{float:left;height:35px;line-height:35px;padding:0 3px;margin-left:3px;}
.searchBox .select{float:left;border:1px solid #e5e8ed;height:35px;width:120px;padding:0 5px;font-size:12px;color:#acb7c7;margin-left:5px;}
.searchBox .btnSearch{position:absolute;right:30px;bottom:30px;}
.btnTop{position:fixed;right:10px;bottom:10px;display:none;}


.submiBox{position:relative;margin-top:20px;padding:30px;width:calc( 100% - 62px );height:auto;overflow:hidden;border:1px solid #acb7c7;background:#fff;}
.submiBox .rows{width:100%;height:auto;overflow:hidden;float:left;}
.submiBox .rows.mt5{margin-top:5px;}
.submiBox .label{float:left;height:35px;line-height:35px;font-size:12px;color:#1d2229;}


.contBox{margin-top:20px;padding:30px;width:calc( 100% - 62px );height:calc( 100% - 260px );overflow:hidden;border:1px solid #acb7c7;background:#fff;}
.contBox.treeType{height:calc( 100% - 100px );}
.contBox.t01{height:calc( 100% - 220px );}
.mapArea{margin-top:10px;width:100%;height:calc( 100% - 40px );overflow:hidden;}
.btnBox{position:relative;width:100%;height:auto;overflow:hidden;text-align:right;}
.btnBox .btn01{display:inline-block;width:108px;height:32px;line-height:32px;text-align:center;color:#fff;font-size:12px;background:#53758b;border-radius:5px;}
.btnBox .btn01.auto{width:auto;padding:0 10px;position:absolute;left:0;top:0;}

.k-datepicker.inp{margin:0;border-radius:0;width:128px;border:0;padding:0;}
.searchBox .k-datepicker.inp{margin-left:5px;}
.k-datepicker .inp{margin:0;}
.k-picker-wrap{border:0;background:#fff;}
.k-picker-wrap .k-icon{margin-top:9px;}

.k-dropdown.select{border:0;padding:0;}
.k-dropdown.select .k-input{height:33px;background:#fff;border-radius:0;line-height:33px;}
.k-dropdown.select .k-dropdown-wrap{border-radius:0;background:#fff;border:1px solid #e5e8ed;}
.k-dropdown.select .k-icon{margin-top:8px;}
.k-list>.k-state-focused.k-state-selected, .k-listview>.k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected{box-shadow:none}

.k-grid{margin-top:10px;height:calc( 100% - 40px );}
.k-grid-header th.k-header{background:#fff;border-left:1px solid #e5e8ed;text-align:center;}
.k-grid-header{background:#fff;border-top:2px solid #226a85;}
.k-grid td{text-align:center;font-size:12px;}
.k-grid td .btn01{display:inline-block;padding:0 10px;height:28px;overflow:hidden;line-height:28px;text-align:center;border:1px solid #879099;color:#53758b;background:#fff;font-size:13px;border-radius:5px;}

.wTable{border-top:2px solid #226882;width:100%;table-layout:fixed;border-collapse:collapse;}
.wTable th{background:#fff;text-align:left;height:44px;border:1px solid #e6e7ec;color:#010101;font-size:12px;padding-left:20px;font-weight:normal;}
.wTable td{background:#fff;height:44px;border:1px solid #e6e7ec;font-size:12px;color:#737373;text-align:left;padding:0 10px;}
.wTable td .t01{font-size:12px;color:#737373;}
.wTable td .t02{float:left;height:35px;line-height:35px;width:240px;font-size:12px;color:#737373;}
.wTable td .btn02{width:152px;height:28px;line-height:28px;text-align:center;overflow:hidden;border:1px solid #e5e8ed;border-radius:5px;color:#53768c;float:left;margin-top:4px;}
.wTable td .inp{float:left;border:1px solid #e5e8ed;height:33px;width:calc( 100% - 22px );padding:0 10px;font-size:12px;color:#222;}
.wTable td .inp.filetype{width:calc( 100% - 62px );}
.wTable td .inp.overlaptype{width:calc( 100% - 96px );}
.wTable td .inp.w150{width:150px;}
.wTable td .etctxt{float:left;height:35px;line-height:35px;margin:0 5px;font-size:12px;color:#737373;}
.wTable td .btnFile{float:right;cursor: pointer;}
.wTable td .upload-hidden{display:none;}
.wTable td .btnOverlap{float:right;height:35px;line-height:35px;text-align:center;width:70px;overflow:hidden;color:#fff;background:#53758b;border-radius:5px;}
.wTable td .textarea{float:left;border:1px solid #e5e8ed;height:80px;width:calc( 100% - 22px );padding:10px;line-height:1.5em;font-size:12px;color:#acb7c7;margin:5px 0;}
.wTable td .btype01{margin:0 2px;display:inline-block;width:80px;height:30px;line-height:30px;overflow:hidden;text-align:center;color:#fff;font-size:12px;border-radius:5px;background:#2793c5;}

.wTable .select{float:left;height:35px;width:100%;font-size:12px;color:#acb7c7;}
div.k-window{border:0;border-radius:0;}
.k-dialog .k-dialog-titlebar{border-radius:0;line-height:60px;color:#fff;height:60px;padding:0;background-image: linear-gradient(to right, #211d50 , #226a83);}
.k-dialog .k-dialog-titlebar .k-dialog-title{font-size:15px;line-height:60px;padding-left:10px;}
.k-dialog .k-dialog-titlebar .k-dialog-actions{top:10px;}
.pbtnBox{width:100%;height:auto;overflow:hidden;margin:10px auto 0 auto;text-align:center;}
.pbtnBox a{margin:0 2px;display:inline-block;width:108px;height:36px;line-height:36px;overflow:hidden;text-align:center;color:#fff;font-size:12px;border-radius:5px;background:#52758b;}
.k-dialog .k-content{background:#eaedf2;}

.treeBox{width:360px;height:auto;overflow:hidden;float:left;}
.treeBox .treeTabs{border-bottom:2px solid #216b84;width:100%;height:auto;overflow:hidden;}
.treeBox .treeTabs li{float:left;width:90px;height:37px;overflow:hidden;}
.treeBox .treeTabs li:first-child{float:left;}
.treeBox .treeTabs li a{display:block;border:1px solid #aab7c7;border-bottom:0;height:36px;line-height:36px;background:#f6f7fb;text-align:center;color:#333;font-size:13px;border-top-left-radius:5px;border-top-right-radius:5px;}
.treeBox .treeTabs li a.on{border:0;background-image: linear-gradient(to right, #211d50 , #226a83);height:37px;line-height:37px;color:#fff;}
.treeWriteBox{width:calc( 100% - 400px );float:right;height:auto;overflow:hidden;}

.btnMoveUp{float:left;width:60px;padding-left:20px;height:27px;line-height:27px;overflow:hidden;text-align:center;border:1px solid #e5e8ed;border-radius:5px;color:#53758b;background:#fff url(../images/bg/bg_up01.png) no-repeat 20px center;}
.btnMoveDown{float:left;width:60px;padding-left:20px;height:27px;line-height:27px;overflow:hidden;text-align:center;border:1px solid #e5e8ed;border-radius:5px;color:#53758b;background:#fff url(../images/bg/bg_down01.png) no-repeat 15px center;margin-left:10px;}

div.k-treeview.treeCont{padding:20px;width:calc( 100% - 2px );border:1px solid #e5e8ed;height:auto;overflow:hidden;}
#treeview .k-sprite {
	background-image: url("../images/bg/bg_sprite.png");
}
#treeview1 .k-sprite { background-image: url("../images/bg/bg_sprite.png"); }
#treeview2 .k-sprite { background-image: url("../images/bg/bg_sprite.png"); }
#treeview3 .k-sprite { background-image: url("../images/bg/bg_sprite.png"); }
#treeview4 .k-sprite { background-image: url("../images/bg/bg_sprite.png"); }

.rootfolder { background-position: 0 0; }
.folder     { background-position: 0 -16px; }
.pdf        { background-position: 0 -32px; }
.html       { background-position: 0 -48px; }
.image      { background-position: 0 -64px; }

.latestBox{width:100%;height:auto;overflow:hidden;margin-bottom:20px;}
.latestBox .fl{width:calc( 50% - 10px );height:auto;overflow:hidden;float:left;}
.latestBox .fr{width:calc( 50% - 10px );height:auto;overflow:hidden;float:right;}
.latestBox .subj{width:calc( 100% - 20px );height:63px;overflow:hidden;background-image: linear-gradient(to right, #211d50 , #226a83);line-height:63px;color:#fff;font-size:16px;padding-left:20px;}
.latestBox .itemBox{background:#fff;height:286px;overflow:hidden;border:1px solid #aeb7c8;border-top:0;padding:20px;width:calc( 100% - 42px );}
.listTable{width:100%;table-layout:fixed;border-collapse:collapse;}
.listTable th{background:#fff;height:48px;border:1px solid #e5e8ed;border-top:2px solid #216b86;text-align:center;font-size:12px;color:#242424;font-weight:normal;}
.listTable td{background:#fff;height:48px;border:1px solid #e5e8ed;font-size:12px;color:#747474;text-align:center;}

.dataStatus{width:calc( 100% - 2px );height:290px;overflow:hidden;border:1px solid #e5e8ed;border-top:2px solid #216b86;}
.dataStatus .item{margin:20px 0 0 20px;width:120px;height:183px;overflow:hidden;border-bottom:1px solid #abb6c8;float:left;}
.dataStatus .item .t01{width:100%;height:42px;line-height:42px;overflow:hidden;text-align:center;color:#000;font-size:15px;background:#dee2eb;border-radius:5px;}
.dataStatus .item .t02{width:100%;height:140px;overflow:hidden;line-height:140px;text-align:center;color:#a3a3a3;font-size:15px;}
.dataStatus .item .t02 strong{font-size:40px;color:#000;}
.chartBox{margin:20px 0 0 20px;width:246px;height:auto;overflow:hidden;float:left;}

.btnLayout{font-size:0;text-indent:-2000px;position:absolute;left:0;top:50px;width:17px;display:block;height:43px;overflow:hidden;background:url(../images/bg/bg_lnboff.png) no-repeat;}
.btnLayout.on{background:url(../images/bg/bg_lnbon.png) no-repeat;}

.wTable td .k-datepicker.inp{padding:0;border:0;width:100%;}
.wTable td .k-datepicker.inp.w150{padding:0;border:0;width:150px;} 
.treeType div.k-treeview.treeCont{width:calc( 100% - 42px );}
.searchBox .k-dropdown.select{margin-left:0 !important;}
.searchBox .k-dropdown.select.ml5{margin-left:5px !important;}
.searchBox .k-dropdown.select.k-state-default.ml5{margin-left:0 !important;}
.wTable td .k-datetimepicker.inp.timepicker{border-radius:0;width:100%;padding:0;border:0;}


#dialog div.k-treeview.treeCont{background:#fff;width:calc( 100% - 42px );overflow-y:auto;height:300px;margin-bottom:20px;}
#carNum div.k-treeview.treeCont{background:#fff;width:calc( 100% - 42px );overflow-y:auto;height:300px;margin-bottom:20px;}
#saupNum div.k-treeview.treeCont{background:#fff;width:calc( 100% - 42px );overflow-y:auto;height:300px;margin-bottom:20px;}
#editor{width:100%;height:400px;}
.wTable td table.k-editor{border:0;border-spacing:0;height:238px;margin-bottom:8px;}
.wTable td .k-editor.k-resizable .k-editable-area{padding:0;}
.wTable td .k-editor .k-editable-area .k-content{border:0;}
.pSearchBox{width:100%;height:35px;overflow:hidden;}
.pSearchBox span{float:left;height:35px;line-height:35px;font-size:13px;}
.pSearchBox .inp{float:left;height:33px;border-radius:5px;border:1px solid #ccc;margin:0 5px;width:150px;padding:0 10px;}

.eSearchBox{width:100%;height:35px;overflow:hidden;}
.eSearchBox .txt{float:left;height:35px;line-height:35px;font-size:13px;}
.eSearchBox .inp{float:left;height:33px;border-radius:5px;border:1px solid #ccc;margin:0 5px;width:150px;padding:0 10px;}
.eSearchBox .k-datepicker.inp{padding:0;margin:0 5px;border-radius:0;}
.eSearchBox input.inp.pdatepicker{margin:0;border-radius:0;border:0;}

.mapChkList{position:absolute;right:105px;top:324px;width:240px;height:auto;overflow:hidden;border:1px solid #c9cfd0;background:#fff;}
.mapChkList p{width:calc( 100% - 20px );height:40px;overflow:hidden;line-height:40px;padding-left:20px;color:#000;font-size:15px;font-weight:bold;border-bottom:1px solid #fe5621;}
.mapChkList ul{width:100%;height:auto;overflow:hidden;}
.mapChkList ul li{width:100%;height:30px;border-top:1px solid #e5e5e5;overflow:hidden;}
.mapChkList ul li:first-child{border-top:0;}
.mapChkList ul li input{float:left;margin-left:20px;margin-top:9px;}
.mapChkList ul li label{float:left;margin-left:5px;height:30px;line-height:30px;color:#000;font-size:13px;}
.mchkScroll{width:100%;height:130px;overflow:hidden;overflow-y:auto;}

.searchBox .inp{height:33px !important}
.wTable .inp{height:33px !important}

.legendSet li{width:50px;}
.legendSet li a{display:inline-block; width:50px; height:50px; margin-top:5px}
.legendSet li:nth-child(1) a{background:url(../images/ico/ico_mapset06_n.png) no-repeat left top}
.legendSet li:nth-child(1) a.on{background:url(../images/ico/ico_mapset06.png) no-repeat left top}
.legendSet li p{margin-top:2px; font-size:12px; color:#000; background-color:#e5e5e5; text-align:center; line-height:15px;}


/* 해양맵 하면서 수정 */
.mapImg li a{
	background:url(../images/ico/ico_mapset06_n.png) no-repeat left top
}
.mapImg li a.on{
	background:url(../images/ico/ico_mapset06.png) no-repeat left top
}