@import url(common.css); 

.wrap{width:100%; background:#fff; position:relative}
.topWrap{width:100%; height:40px; background:#0d2d4f; padding:12px 20px; box-sizing:border-box; }
.topWrap button{line-height:40px; margin-right:10px; float:left; }
.topWrap img{ float:left;}

.contWrap{width:100%;}
.contTitle{height:50px; line-height:49px; border-bottom:1px solid #e5e5e5; box-sizing:border-box; position:relative; padding:0 20px; box-sizing:border-box;}
.contTitle h1{font-size:15px; color:#010101; text-align:center;}
.contTitleBtn{position:absolute; width:100%; height:100%; left:0; top:0; display:flex; justify-content: space-between; align-items: center; padding:0 20px; box-sizing:border-box;}
.contTitleBtn.infolist{justify-content: flex-end;}
.contTitleBtn button{margin-right:5px; }


.contList{width:100%;}

.contListInfo{height:50px; background:#fafafa; padding: 0 20px;  line-height:50px; }
.contListInfo h1{font-size:15px; font-weight:100; color:#000;}
.contListInfo span{margin-right:10px}
.contListInfo img{vertical-align:middle}
.contList.map ul{padding:0 20px;}
.contList.map li{display:flex; align-items:center; padding:10px 20px; border-bottom:1px solid #e5e5e5; font-size:13px; color:#000;}




.contListTitle{display:flex;  justify-content: space-between; align-items: center; padding:10px 20px; box-sizing:border-box;  border-bottom:1px solid #e5e5e5; background:#f2f2f2; }
.contListTitle h1{font-size:13px; color:#000;  }
.contListTitle button{width:25px; height:25px; margin-left:5px;}
.contListTitle.br{border-top:1px solid #e5e5e5}
.contList table{padding:10px 20px; box-sizing:border-box; border-bottom:1px solid #e5e5e5}
.contList table input{border:1px solid #d5d5d5}
.contList table input.h50{height:50px}
.contList table td div{position:relative;}
.contList table td div button{position:absolute; top:0; right:0; height:25px}
.contList table.br{border-bottom:0}
.listWrP{padding:10px 20px; box-sizing:border-box;}
.listPlus{border-top:1px solid #e5e5e5; width:100%; box-sizing:border-box; padding:10px 0}
.listPlus.first{border-top:0}
.listPlus input,.listPlus select,.listPlus textarea{border:1px solid #d5d5d5}
.listPlus textarea{width:100%; height:50px}

.listBox{width:100%; display:flex; align-items: center;}
.listBox h1{width:90px; font-weight:100; font-size:13px; color:#000}
.listBox p{position:relative; width:calc(100% - 90px);}
.listBox button{position:absolute; top:0; right:0}
.listBox button.mi{top:5px}
.listBox p input.number{width:32px; text-align:center; padding:0}
.listBox p input.info{width:140px;text-align:center; padding:0}
.listBox p input.calc{width:calc(100% - 83px); text-align:right}


.list{border-bottom:1px solid #e5e5e5; box-sizing:border-box; padding:17px 20px; }
.list div{ display:flex; justify-content: space-between; }
.list h1{font-size:15px; color:#fe5621; }
.list h2,.list h3{font-size:13px; color:#000; font-weight:100; }

.menuWrap{width:100%; background:rgba(0,0,0,0.5); position:fixed; left:0; top:0; height:100%; z-index:10; left:0px; display:none}
.menu{width:210px; background:#fff; height:100%; position:absolute; left:0}
.menuTitle{width:100%; height:40px; padding:12px 20px; box-sizing:border-box; display:flex; justify-content: space-between; align-items: center; background:#0d2d4f;}
.menuTitle h1{font-size:12px; color:#fff; font-weight:100}
.menuTitle h1 span{margin-right:5px;}
.menuTitle img{vertical-align:middle}
.menu li{width:100%; height:50px; border-bottom:1px solid #e5e5e5; box-sizing:border-box;  padding:17px 20px;}
.menu li span{vertical-align:middle; margin-right:5px}
.menu li a{ font-size:13px; color:#000; display:inline-block;}
.menuBottom{height:40px; width:210px; background:#d5e3eb; line-height:40px; padding:0 20px; box-sizing:border-box;  position:absolute; left:0; bottom:0 }



.popupWrap{width:100%; height:100%; position:fixed; background:rgba(0,0,0,0.5); top:0; left:0; display:none;     z-index: 100}
.popupBox{padding:0 20px; box-sizing:border-box; position:absolute; top:50%; width:100%;  display:none;}
.popupBox.service{height:326px; margin-top:-163px}
.popupBox.car{height:428px; margin-top:-214px}
.popupBox.name{height:428px; margin-top:-214px}
.popupBox.ingredient{height:500px; margin-top:-250px}
.popupBox.mapLayer{height:413px; margin-top:-205px}
.popupBox.search{height:215px; margin-top:-107px}
.popupBox.beforePlan{height:326px; margin-top:-163px}
.popup{background:#fff; padding:15px 10px 20px 10px; box-sizing:border-box; width:100%; overflow:hidden; }
.popupTitle{width:100%; border-bottom:1px solid #0d2d4f; height:30px; padding:0 10px; box-sizing:border-box; display:flex; justify-content: space-between; align-items: center;}
.popupTitle h1{font-size:15px; color:#010101; font-weight:100}
.popupCont{width:100%;}
.popupSearch{height:52px; border-bottom:1px solid #f3f3f3;padding:20px 10px; box-sizing:border-box; width:100%; overflow:hidden;display:flex; justify-content: space-between; align-items: center;}
.popupSearch h1{margin-right:10px; font-size:15px; color:#010101; font-weight:100}
.popupSearch div{width:calc( 100% - 50px); position:relative;}
.popupSearch div.width80{width:calc( 100% - 80px); position:relative;}
.popupSearch div button{position:absolute; right:8px; z-index:1; top:0; width:25px; height:25px; overflow:hidden}

.popupCont ul{}
.popupCont li{border-bottom:1px solid #f3f3f3; padding:15px 10px; box-sizing:border-box; }
.popupCont li h1{font-size:14px; color:#000;    display: inline-block; }
.popupCont li h2{font-size:12px; color:#000; font-weight:100; float:right}
.popupCont li p{font-size:12px; color:#000; font-weight:100;}

.table01{width:100%; padding:0 10px; box-sizing:border-box; border-collapse: unset;}
.table01 th,.table01 td {padding:5px 0}
.table01 th{font-size:13px; color:#000; font-weight:100; text-align:left}
.table01.p0{padding:0}
.table01.p0 td input{border:1px solid #d5d5d5; }

.popupBtn{width:100%; display:flex; justify-content: space-between; margin-top:10px; padding:0 10px; box-sizing:border-box }
.popupBtn button{color:#fff; text-align:center; font-size:13px; width:calc( 50% - 5px); height:30px}
.popupBtn button span{margin-right:5px;}
.popupBtn button img{vertical-align:middle}
.popupBtn button.blue{background:#0d2d4f; }
.popupBtn button.orange{background:#fe5621; }

.page{width:100%; }
.page ul{display:flex; justify-content: center; margin-top:10px;}
.page li{margin-right:5px;}
.page li:last-child{margin-right:0px;}

input{border:1px solid #f3f3f3; width:100%; height:25px; box-sizing:border-box; padding:0 10px; font-size:13px; color:#000; }
input[type="date"]{background:url(../images/mobile/input_date.png)no-repeat right center;}
select{border:1px solid #f3f3f3; width:100%; height:25px; box-sizing:border-box; padding:0 10px; font-size:13px; color:#000; background:url(../images/mobile/select_bg.png)no-repeat right center;}



.mapWrap{width:100%; border-top:1px solid #d5d5d5}
.map{width:100%; overflow:hidden; }
.searchWrap{width:100%; padding:15px 20px; box-sizing:border-box; background:#f2f2f2; overflow:hidden;  left:0; top:0; z-index:2; box-shadow:0px 0px 2px rgba(0,0,0,0.4); border-bottom:1px solid #d5d5d5}
.searchTitle{display:flex;  justify-content: space-between; align-items: center;}
.searchTitle h1{font-size:13px; color:#000; }
.searchTitle button{width:25px; height:25px;}

.mapBox{width:100%; height:250px; overflow:hidden; background:url(../images/mobile/map.png)no-repeat ;background-size:cover; position:relative; }



.mapRouteWrap{width:100%; overflow:hidden; background:#f2f2f2;   left:0; bottom:0; z-index:2; box-shadow:0px 0px 2px rgba(0,0,0,0.4)}
.mapRoute{width:100%; height:38px; background:#fff; padding:8px 20px; box-sizing:border-box; display:flex; }
.mapRoute button{width:60px; height:22px; text-align:center; color:#fff; margin-right:5px; font-size:12px}
.mapRoute button.sky{background:#4c76be}
.mapRoute button.blue{background:#0d2d4f}
.mapRoute button.green{background:#4bae4f}
.mapRouteCont{padding:10px 20px 20px 20px; display:flex;  justify-content: space-between; align-items: flex-end;}
.mapRouteBox h1{font-size:14px; color:#000;}
.mapRouteBox ul{margin-top:5px}
.mapRouteBox li{font-size:12px; color:#010101; }

/*.mapRoutePop{width:280px; position:absolute; left:50%; margin-left:-140px;  z-index:2; top:50%; margin-top:-90px}*/
.mapRoutePop{width:100%;}
.mapRoutePop ul{width:100%; box-shadow:0px 0px 2px rgba(0,0,0,0.4); background:#fff; padding:15px 15px 10px 15px; box-sizing:border-box;}
.mapRoutePop li{width:100%; border-bottom:1px solid #d5d5d5; font-size:12px; color:#000; padding:0 10px; box-sizing:border-box; height:27px;  margin-top:6px; position:relative; cursor:pointer}
.mapRoutePop li span{margin-right:10px; }
.mapRoutePop li img{vertical-align:middle}
.mapRoutePop li input{width:180px; border:0; padding:0}
.mapRoutePop li:first-child{margin-top:0}
.mapRoutePop li:last-child{border-bottom:0}
.mapRoutePop li button{position:absolute; right:10px; }
.mapRoutePopB{width:100%; display:flex}
.mapRoutePopB button{width:50%; height:30px; box-shadow:0px 0px 2px rgba(0,0,0,0.4); color:#fff; text-align:center;}
.mapRoutePopB button.orange{background:#fe5621}
.mapRoutePopB button.blue{background:#0d2d4f}
.mapRoutePopB button span{margin-right:5px}
.mapRoutePopB img{vertical-align:middle}
.detlLastBtn button{width:100%; height:60px; box-shadow:0px 0px 2px rgba(0,0,0,0.4); color:#fff; text-align:center;}
.detlLastBtn button.orange{background:#fe5621}

.loginWrap{width:100%; height:100%; position:relative; background:#e6eff5 url(../images/mobile/bg_2.png)no-repeat center bottom; background-size: contain; padding:50px 32px; box-sizing:border-box; position: fixed; }
.loginCont{position:absolute; width:100%; right: 12%; padding:0 32px; box-sizing:border-box}
.loginTitle h1{color:#fe5621; font-size:45px; font-weight:100; text-align:center;}
.loginTitle h2{color:#0d2d4f; font-size:12px; font-weight:100; text-align:center;}

.login{width:100%; margin-top:50px; height:162px; }
.login p{text-align:center; color:#292929; font-size:12px;}

.login li input.id{border:0; height:35px; background:#fff url(../images/mobile/id.png)no-repeat left top; color:#292929; padding-left:40px; margin-top:10px}
.login li input.password{border:0; height:35px; background:#fff url(../images/mobile/password.png)no-repeat left top; color:#292929; padding-left:40px; margin-top:10px}
.login a{width:100%; background:#fe5621; height:38px; text-align:center; color:#fff; font-size:13px; margin-top:10px; display:inline-block; line-height:38px}/* 0620 */


.loginfooter{margin-top:10px}
.loginfooter ul{display:flex; justify-content:center; }
.loginfooter li{background:url(../images/mobile/footer_bg.png)no-repeat center right; padding-right:15px; float:left; margin-right:10px}
.loginfooter li:last-child{background:none; margin-right:0px}
.loginfooter li a{font-size:12px; color:#292929; display:inline-block; }

#txtTrAddr { width: calc( 100% - 12px );}
.popupCont { height: 270px; overflow:auto }


/* 6.20 異붽��떆�옉*/
@media(min-width:414px) {
	.loginWrap {background-position: left bottom;}
	.loginCont {width:420px; margin-top: 100px;}
	.login {margin-top: 60px;}
	.loginfooter{margin-top:70px}
}
@media(max-width:650px) {
	.loginCont {right: 8%;}
}
@media(max-width:600px) {
	.loginCont {right: 0;}
}
@media(max-width:500px) {
	.loginCont { width:100%;}
}
/* 6.20 異붽��걹*/

@media(max-width:414px) {
	.loginfooter{margin-top: 30px;}
	.loginCont {width:100%; margin-top: 41px;}/* 6.20 �닔�젙*/
}
@media(max-width:375px) {
	.login{margin-top: 40px;}
}
@media(max-width:360px) {
	.loginfooter{margin-top: 20px;}
	.loginCont {width:100%; margin-top: 0;} /* 6.20 異붽�*/
}
@media(max-width:320px) {
	.login{ margin-top: 20px;}
	.loginfooter{margin-top: 10px;}
	.loginCont {width:100%; margin-top: 0;}/* 6.20 異붽�*/
}


