/* #app {
} */
#mapContainer {
  z-index: 0;
  width: 99vw;
  height: 92vh;
}
.wTable.t01 .k-dropdown.select {
  background: transparent;
}
.timeSatel {
  position: absolute;
  width: 240px; z-index: 1;
  top: 12px;
  left: 80px;
  color: #fff;
  text-align: center
}
.timeBox {
  background: #f2f2f2;
  padding: 5px;
  max-height: 400px;
  overflow-y: auto;
  color: #000;
}
.satellite {
  position: relative;
  right: 25px;
}
.show {
  position: absolute;
  top: 13px;
  right: 6px;
  z-index: 3;
}
.mpop03 {
  z-index: 2;
  width: 300px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #c9cfd0;
  position: absolute;
  right: 5px;
  top: 12px;
}
.mpop03 .mpopHeader {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #fe5621;
}
.mpop03 .mpopHeader .mform {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  padding: 10px 20px;
  height: auto;
  background: #f2f2f2;
  overflow: hidden;
}
.mpop03 .mpopHeader .mform .forinput {
  width: 248px;
  height: 35px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}
.mpop03 .mpopCont {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.spanCnt {
  border: 0px; background: #f2f2f2;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.mpop03 .mpopCont .scrolls {
  width: 100%;
  height: 440px;
  overflow: hidden;
  overflow-y: auto;
}
.mpopCont .mContForm {
  padding: 15px;
}
#carLists .result {
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 5px;
}
#carLists .result p {
  margin: 0px;
}
.result.active {
  background: #4298b3;
}
.result {
  cursor:pointer; 
  background: #f2f2f2;
}
.tsmap-pane {
  z-index: 99;
}
.type01 {
  margin: 0px;
  font-size: 15px;
}
.type01 p{
  margin: 0px;
  font-size: 15px;
}