@import url(common.css);

input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
input::-ms-clear { display: none; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
input[type="date"]::-webkit-clear-button {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  
}
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;   
	
	
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
	
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 0 white inset !important;
}

input::-ms-input-placeholder{color:rgba(255,255,255,0.5)}
input::-webkit-input-placeholder{color:rgba(255,255,255,0.5)}
input::-moz-input-placeholder{color:rgba(255,255,255,0.5)}

select::-ms-input-placeholder{color:rgba(255,255,255,0.5)}
select::-webkit-input-placeholder{color:rgba(255,255,255,0.5)}
select::-moz-input-placeholder{color:rgba(255,255,255,0.5)}


input[type=checkbox]:not(old) {
    margin:0; padding:0; background:url(/images/tmn/checkbox_n.png) no-repeat 0 0;width:0; } 
input[type=checkbox]:not(old) + label {
    display: inline-block;     text-align: left; height:23px; padding-left: 35px; background: url(/images/tmn/checkbox_n.png) no-repeat 0 0;  color:#2b2a29}
input[type=checkbox]:not(old):checked + label {
    background: url(/images/tmn/checkbox_p.png) no-repeat 0 0;
}

button:hover{opacity:0.5}

/* login */
.loginWrap{width:100%; height:100%; overflow:hidden; background:#0d2d4f url(/images/tmn/login_bg.png)no-repeat left bottom; background-size:60%; position:absolute;}
.login{width:600px; position:absolute; right:10%; top:20%; overflow:hidden; text-align: right;}
.login h1{font-size:36px; color:#fff; font-weight:100; text-align:center;}
.login input{box-sizing:border-box; width:480px; height:50px; border-bottom:1px solid #8696a7;  border-top:0; border-right:0; border-left:0; padding:0 20px; color:#fff; background:none; font-size:20px}
.login button{width:480px; height:62px; background:#fe5621; text-align:center; color:#fff; margin:0 auto; margin-top:70px; font-size:28px}
.login img{vertical-align:middle; margin-right:20px}
.login div.inT{margin-top:70px; overflow:hidden }
.login div.btnWrap{}

.wbtn01 {
    background: #0d2d4f;
    width: 80px;
    text-align: center;
    height: 35px;
    padding-bottom: 11px;
    color: #fff;
    font-size: 13px;
    margin-left: 5px;
    line-height: 35px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
	cursor: pointer;
}

#searchForm span {
	padding-right: 10px;
}

.zeroCrd {
	color: #f00;
}
/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* sub  top */

.wrap{width:100%; height:99vh; overflow-x:hidden; overflow-y:scroll; position:relative;}
.topWrap{width:100%; height:100px; background:#0d2d4f; overflow:hidden; justify-content: space-between; display:flex; flex-direction: row; padding:0 70px; box-sizing:border-box;}
.topWrap h1{font-size:20px; color:#fff; font-weight:100; line-height:100px; }
.topAdin{line-height:100px;}
.topAdin span{font-size:15px; color:#fff; margin-right:10px;}
.topAdin button{border-radius:30px; height:35px; width:100px; font-size:15px; color:#fff; background:#fe5621; text-align:center;}
.header {
	height:50px;
}
.header .gnb li {
	float: left;
}
.header .gnb li a {
	display: block;
	width: 165px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	overflow: hidden;
	position: relative;
	font-size: 15px;
	color: white;
	cursor: pointer;}
.header .gnb li a.on, .header .gnb li a:hover{border-bottom:4px solid #fff;}

/* sub  content */

.contentWrap{ padding:45px 70px ; box-sizing:border-box;}
.search{overflow:hidden; border-top:2px solid #fe5621; border-bottom:1px solid #e5e5e5; padding:0 20px 20px 20px; box-sizing:border-box; margin-top:25px}
.search li{float:left; margin-right:20px; display:table; margin-top:20px; }
.search li label{font-size:15px; display:table-cell; vertical-align:middle; color:#000; padding-right:10px}
.search li label.sp{width:calc( 50% - 37.5%)}
/*.search li:last-child{width:100%;margin-right:0;}*/
.search button{height:40px; width:80px; background:#0d2d4f; text-align:center; color:#fff;}
.search input{width:calc( 100% - 80px); height:40px; padding-left:10px; box-sizing:border-box; border:1px solid #d5d5d5; }
.search select{width:200px; border:1px solid #d5d5d5;  box-sizing:border-box; height:40px; padding-left:10px; background:url(/images/tmn/select_bg.png)no-repeat right center;}
.searchSet input{    width: 150px;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
	height: 40px;
	padding-left: 10px;}
.searchSet select{
	width: 150px;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
	height: 40px;
	padding-left: 10px;
	background: url(/images/tmn/select_bg.png)no-repeat right center;
}
.searchSet span{display:inline-block;width:55px;}

.search li.w50p{width:50%; margin-right:0px;line-height: 40px;}
.search li.w50p label{width:25%}
.search li.sp label{width:12.5%}

.search li.w50p label.w35p{width:120px ;    line-height: 18px;}
.search li.w50p .w80p{width:80%;}

.search p.sp01{font-size: 15px;margin-left: 10px;color: red;}

.search li textarea{width:calc( 100% - 80px); height:100px; border:1px solid #d5d5d5; box-sizing:border-box}
.search ul.line {display: inline-flex;}

.searchBtn button {height:40px; width:80px; background:#0d2d4f; text-align:center; color:#fff; float:right; margin:15px;}

.mLeft {width:48%;float:left; margin-right:2%;min-width:600px;}
.mRight {width:48%;float:right;min-width:600px;}
.search input:read-only {background:#ebebe4;}
.basic {width:48%; min-width:600px;}
.basic input:read-only{border:1px solid #ffffff; background:#ffffff;cursor: default;}
.listDiv {width:100%;overflow: auto;}
.listDiv table{min-width:1500px;margin-top:0px;}

.table{border-top:2px solid #fe5621; width:100%; margin-top:50px;}
.table th{font-weight:100; height:50px; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; font-size:15px; color:#000; text-align:center;}
.table th:last-child{border-right:0;}
.table td{ height:50px; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; font-size:12px; color:#000; text-align:center; padding:10px; box-sizing:border-box}
.table td.img img{width:40px; height:40px; overflow:hidden; vertical-align:middle; }
.table td.bg{color:#e6eaed}
.table td button{margin-right:10px}
.table td button.modify{background:url(/images/tmn/table_btn_01.png)no-repeat 0 0; background-size:cover; width:40px; height:40px}
.table td button.dtgPopup{background:url(/images/tmn/table_btn_02.png)no-repeat 0 0; background-size:cover; width:40px; height:40px}
.table td.tAlign{text-align:left;}
.table td:last-child{border-right:0;}
.btn01 { border: 1px solid #d5d5d5; width: 100%; height: 80%; background: #d5d5d5;}
.btn01:hover { background: #0d2d4f; color: #ffffff;}

.mouseOver tbody tr:hover{background:#ffd4c6;}
.pointer {cursor:pointer;}
.clickText {cursor:pointer;text-decoration: underline;font-weight: bolder;}

.table.t2 th{text-align:left;  padding:8px 20px; box-sizing:border-box; border-left:1px solid #e5e5e5; height:30px;}
.table.t2 td{text-align:left;  padding:8px 20px; box-sizing:border-box; border-right:0; height:30px; }
.table.t2 th:first-child{border-left:0}
.table.t2 td input{width:250px; height:35px; padding-left:10px; box-sizing:border-box; border:1px solid #d5d5d5; }
.table.t2 td input[type=date]{background:url(/images/tmn/input_bg.png)no-repeat rigtht center !important; height:40px;  box-sizing:border-box; }
.table.t2 td select{width:200px; border:1px solid #d5d5d5;  box-sizing:border-box; height:40px; padding-left:10px; background:url(/images/tmn/select_bg.png)no-repeat right center;}
.table.t2 td textarea{width:100%; height:100px; border:1px solid #d5d5d5; box-sizing:border-box}
.table.mt1{margin-top:10px;}

.pagination {width:100%; margin-top:50px}
.pagination ul{ display:flex; justify-content: center; flex-direction: row;}
.pagination li{width:32px; height:32px; margin-left:10px; display:table}
.pagination li:first-child{margin-left:0;}
.pagination li a.prev{margin-right:20px;}
.pagination li a.prev{width:32px; height:32px; display:inline-block; background:url(/images/tmn/arr_prev_n.png)no-repeat;}
.pagination li a.prev:hover{background:url(/images/tmn/arr_prev_p.png)no-repeat;}
.pagination li a.next{margin-left:20px;}
.pagination li a.next{width:32px; height:32px; display:inline-block; background:url(/images/tmn/arr_next_n.png)no-repeat;}
.pagination li a.next:hover{background:url(/images/tmn/arr_next_p.png)no-repeat;}
.pagination li a, .pagination li span{display:table-cell; width:32px; height:32px; text-align:center; vertical-align:middle; color:#575757; font-size:12px; }
.pagination li a:hover{color:#fe5621}
.pagination li.active {background:url(/images/tmn/page_bg.png)no-repeat; width:32px;} 
.pagination li.active span {color:#fff}

.title{font-size:18px; color:#000;}
.subtitle{font-size:18px; color:#000;margin:15px;}
.subtitle ul{display: inline-flex;}
.subtitle ul li {padding-right: 15px;}
.subtitle ul li span{font-size:30px}
.title.mt{margin-top:30px}

.fileBoxWrap{width:100%; border-top:2px solid #fe5621; border-bottom:1px solid #d5d5d5; display:flex; justify-content: space-between; flex-direction: row; overflow:hidden; padding:20px; box-sizing:border-box; margin-top:20px}
.fileBox{width:45%; overflow:hidden}
.fileBox h1{font-size:18px; color:#000; text-align:left; font-weight:100;}
.fileBox button{height:40px; width:78px; background:#0d2d4f; text-align:center; color:#fff;}
.fileBox input{width:calc( 100% - 80px ); height:40px; padding-left:10px; box-sizing:border-box; border:1px solid #d5d5d5; }
.fileBox div.imgBox{width:100%; overflow:hidden; background:#e5e5e5; margin-top:20px}
.fileBox div.imgBox img{width:100%; }

.btn{width:100%; display:flex; justify-content: center; flex-direction: row; margin-top:30px}
.btn button{width:130px; height:40px; text-align:center; background:#8d8d8d; margin:0 10px; font-size:15px; color:#fff; border-radius:30px}
.btn button.on,.btn button:hover{background:#fe5621; opacity:1;}

/* sub  popup */

.popupWrap{width:100%; height:100%; background:rgba(0,0,0,0.5);  position:absolute; z-index:100; overflow:hidden; top:0; left:0; display:none; }
.popupBox{padding:20px; background:#fff; position:absolute; top:150px; left:50px; right:50px; box-sizing:border-box; }
.popupTile{display:table; border-bottom:1px solid #fe5621;  width:100%; height:60px; }
.popupTile span{font-size:20px; font-weight:100; text-align:center;  color:#000; display:table-cell; vertical-align:middle }
.popupCont{padding:20px; }
.popupCont h1{font-size:15px; color:#575757;}
.popupCont p{font-size:12px; color:#575757; margin-top:20px}
.popupCont button{width:100%; background:#fe5621; height:40px; color:#fff; text-align:center; margin-top:50px}

.hidden {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0; position:absolute; padding:0 !important; }

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width:1025px){  
	.loginWrap{width:100%; height:100%; overflow:hidden; background:#0d2d4f url(/images/tmn/m_login_bg.png)no-repeat center bottom; background-size:100%; }
	.login{width:100%; position:absolute;  top:15%; overflow:hidden; text-align: center; right: 0%; }	
	.login div.inT{margin-top:30px; overflow:hidden }
	.login button{margin-left:70px; margin-top:50px;}
	
	.topWrap{padding: 0 40px; height: 70px}
	.topWrap h1{font-size:15px; line-height: 70px;}
	.topAdin{line-height: 70px;}
	.topAdin span{font-size:12px}
	.topAdin button{height: 25px; font-size:12px; width:80px}
	
	.contentWrap{padding:20px 40px}
	.search{padding:0 20px 20px 20px}
	.search select{    width:calc( 100% - 20px)}
	.search li{margin-top:20px;  width: calc( 33% - 20px)}
	.search li label{width: 33%;}
	/* .search li:last-child{width:100%;} */
	.search input{ width: 100%}
	.search li textarea{ width: 100%}
}
@media (max-width:812px){ 
	.search li{  width: calc( 50% - 20px);}
	.search li label{width: 27%;}
	.fileBoxWrap{display:block;     padding:0 20px 20px 20px;}
	.search li.w50p{line-height:14px}
	.search li.w50p label{width:27%}
	.search li.sp label{width:13.5%}
	.fileBox{width:100%; margin-top:20px}
	.search li label.sp{width:calc( 50% - 36.7%)}
}

@media (max-width:769px){ 
	.login{top:10%;}
	.login h1{font-size:20px;}
	.login input{width:480px; height:40px; font-size:15px}
	.login img{height:40px; width:auto; margin-right:10px}
	.login button{margin-left:50px; margin-top:40px; height:50px; font-size:20px}
	
	.topWrap{display: block;}
	.topWrap h1{line-height: 25px; margin-top:7px}
	.topAdin{line-height: 25px;}
	.contentWrap{padding:10px 20px 50px 20px}	
	.search{margin-top: 10px;; padding: 0 20px 10px 20px;}
	.search li{width:calc( 50% - 20px);  font-size: 12px; margin-top: 10px;}
	.search li label{width:28%; font-size: 12px;}
	.search select{width:100%; height: 30px;}
	.search input{width:calc( 100% + 20px); height: 30px;}
	.search button{height: 30px;}
	.table{margin-top:30px}
	.table th{font-size:12px}
	.title{font-size:15px}
	.search li.w50p{width: calc( 50% - 20px); margin-right:20px; line-height: 30px;}
	.search li label.sp{width:calc( 50% - 37.2%)}
	.search input
	.fileBoxWrap{display:block;padding:0 20px 20px 20px}
	.fileBox{width:100%; margin-top:20px}
	.fileBox h1{font-size:15px}
	.fileBox input{height:30px}
	.fileBox button{height:30px}
	.mt20{margin-top: 10px !important;}
	.fileBox div.imgBox{margin-top: 10px}
	.btn{}
	.btn button{height: 35px;}
} 
@media (max-width:667px){ 
	.search li label.sp{width:calc( 50% - 37.5%)}
 }

@media (max-width:640px){ 
	.search li.w50p label{width: 28%}
	.search li.sp label{width:14%}
	.search input{width: 100%}
 }


@media (max-width:600px){   
	.login div.inT{width:100%; padding:0 40px 0 30px;  box-sizing:border-box; display:flex; justify-content: space-between; flex-direction: row;}
	.login input{width:100%}
	.login button{width:calc( 100% - 50px );}
	.login div.btnWrap{padding:0 40px 0 30px}
	.search{padding:0 10px 10px 10px}
	.search li{margin-top:10px}
	.search li label{width:31%}
	.search select{width:100%;}
	
	.search li.w50p{line-height: 17px;}
	.search li.w50p label{width: 27%}
	.search li.sp label{width:27%}
	
	.pagination{margin-top: 30px;}
	.pagination li a.prev{width:20px; height:20px; background-size:cover}
	.pagination li a.next{width:20px; height:20px; background-size:cover}
	.pagination li{width:20px; height:20px;}
	.pagination li.active{width:20px; height:20px; background-size:cover}
	.pagination li a{width:20px; height:20px; background-size:cover}
	.table td{padding:5px; font-size: 11px;}
	.table td button.modify{width:25px; height:25px;background-size:cover }
	.table td button.dtgPopup{width:25px; height:25px;background-size:cover }
	
	.popupWrap{padding:0 60px; box-sizing:border-box}
	.popupBox{width:100%; position: relative; margin-top:0; left:0; margin-left:0; top: 20% }
	.popupCont{padding:20px 20px 10px 20px}
	.popupTile{height:35px}
	.popupTile span{font-size: 15px;}
	.popupCont h1{font-size: 13px}
	.popupCont p{margin-top: 10px}
	.popupCont button{margin-top: 30px;}
}

@media (max-width:414px){   
	.login{top: 15%;}
	.login div.inT{padding: 0 50px 0 40px; height: 30px;}
	.login img{width:30px; height:30px; }
	.login input{font-size:12px; height: 30px;}
	.login button{width:calc( 100% - 40px );    margin-left: 40px; height: 40px; font-size:12px; margin-top: 20px}
	.login div.btnWrap{padding: 0 50px 0 40px;}
	.topWrap {padding: 0 15px}
	.topWrap h1{font-size:14px}
	.topAdin span{font-size:11px}
	.contentWrap{padding:10px 10px 30px 10px}
	.search li{width:100%}
	.search input{width:calc( 100% - 80px)}
	.search li.w50p{width:100%;}
	.search li.w50p input{width:100%;}
	.search li label.sp{width: 27%;}
	.title{font-size:13px}
	.fileBoxWrap{margin-top:10px; padding: 0 10px 10px 10px}
	.fileBox h1{font-size:13px}
	.mt20{margin-top: 5px !important;}
	.fileBox div.imgBox{margin-top: 5px; }
	.btn{margin-top:20px}
	.btn button{width: 90px; margin: 0 5px; height: 30px; font-size:13px}
	.fileBox button{font-size:12px}
}
@media (max-width:375px){
	.popupWrap{padding: 0 20px;}
	.popupBox{top: 30%}
	.popupTile span{font-size:14px}
	.popupCont{padding:10px 10px 10px 10px}
	.popupCont p{font-size:11px}
	.popupCont button{margin-top:15px; height: 30px;}
}
@media (max-width:360px){
	
}

@media (max-width:320px){   

}